title = "User View"
url = "/dashboard/employees/:id/:page"
layout = "admin"
is_hidden = 0
role = 0
permission = 0
anonymous_only = 0
logged_only = 1
child_of = "dashboard/employees"
menu_breadcrumb = "employees"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[viewBag]
==
<?php
function onStart(){

    $this['item']           =   $item   =   \RainLab\User\Models\User::find($this->param('id'));
    $this['projects']       =   \Spot\Project\Models\Project::orderBy('id', 'desc')->where('user_id', $item->id)->get();

}
?>
==
		<!--Begin::App-->
<div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
    <!--Begin:: App Aside Mobile Toggle-->
    <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
        <i class="la la-close"></i>
    </button>
    <!--End:: App Aside Mobile Toggle-->

    <!--Begin:: App Aside-->
    <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
        <!--begin:: Widgets/Applications/User/Profile1-->
        <div class="kt-portlet kt-portlet--height-fluid-">
            <div class="kt-portlet__head  kt-portlet__head--noborder">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
                        <i class="flaticon-more-1"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-fit dropdown-menu-md">
                        <!--begin::Nav-->
                        <ul class="kt-nav">
                            <li class="kt-nav__head">
                                <a href="{{'dashboard/update-employee'|page({'id': item.id})}}">
                                    {{'Edit Employee'|__}}
                                </a>
                                <a href="{{'dashboard/update-employee'|page({'id': item.id})}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect id="bound" x="0" y="0" width="24" height="24"/>
                                            <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" id="Path-11" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "/>
                                            <rect id="Rectangle" fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"/>
                                        </g>
                                    </svg>
                                </a>
                           </li>
                       </ul>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body kt-portlet__body--fit-y">
                <!--begin::Widget -->
                <div class="kt-widget kt-widget--user-profile-1">
                    <div class="kt-widget__head">
                        <div class="kt-widget__media">
                            {% if item.avatar %}
                                 <img alt="Pic" src="{{item.avatar.thumb(100, 100,'crop')}}" />
                            {% else %}
                                <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--xl kt-badge--rounded kt-badge--bold">{{item.name|capitalize|slice(0,2)}}</span>
                             {% endif %}
                        </div>
                        <div class="kt-widget__content">
                            <div class="kt-widget__section">
                                <a href="javascript:;" class="kt-widget__username">
                                    {{item.name}}
                                    {% if item.userverify_dateverified %}
                                        <i class="flaticon2-correct kt-font-success"></i>
                                    {% endif %}
                                </a>
                                <span class="kt-widget__subtitle">
                                    {{item.role.name}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="kt-widget__body kt-margin-t-20">
                        <div class="kt-widget__content">
                            {% if item.email %}
                                <div class="kt-widget__info">
                                    <span class="kt-widget__label">{{'Email'|__}}:</span>
                                    <a href="javascript:;" class="kt-widget__data">{{item.email}}</a>
                                </div>
                            {% endif %}
                            {% if item.phone %}
                                <div class="kt-widget__info">
                                    <span class="kt-widget__label">{{'Phone'|__}}:</span>
                                    <a href="javascript:;" class="kt-widget__data">{{item.phone}}</a>
                                </div>
                            {% endif %}
                            {% if item.mobile %}
                                <div class="kt-widget__info">
                                    <span class="kt-widget__label">{{'Mobile'|__}}:</span>
                                    <span class="kt-widget__data">{{item.mobile}}</span>
                                </div>
                            {% endif %}
                        </div>
                        <div class="kt-widget__items kt-margin-t-20">
                            <a href="{{url('dashboard/employees')}}/{{item.id}}/view" class="kt-widget__item {% if this.param.page == 'view' %}kt-widget__item--active{% endif %}">
                                <span class="kt-widget__section">
                                    <span class="kt-widget__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <polygon points="0 0 24 0 24 24 0 24"/>
                                                <path d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z" fill="#000000" fill-rule="nonzero"/>
                                                <path d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z" fill="#000000" opacity="0.3"/>
                                            </g>
                                        </svg>
                                    </span>
                                    <span  class="kt-widget__desc">
                                        {{'Personal Information'|__}}
                                    </span>
                                </span>
                            </a>
                            <a href="{{url('dashboard/employees')}}/{{item.id}}/projects" class="kt-widget__item {% if this.param.page == 'transactions' %}kt-widget__item--active{% endif %}">
                                <span class="kt-widget__section">
                                    <span class="kt-widget__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"/>
                                            <path d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z" fill="#000000" opacity="0.3"/>
                                            <path d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z" fill="#000000"/>
                                            </g>
                                        </svg>
                                    </span>
                                    <span class="kt-widget__desc">
                                        {{'Projects'|__}}
                                    </span>
                                </spandiv>
                            </a>
                        </div>
                    </div>
                </div>
                <!--end::Widget -->
            </div>
        </div>
        <!--end:: Widgets/Applications/User/Profile1-->
    </div>
    <!--End:: App Aside-->


    <!--Begin:: App Content-->
    <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
        {% if this.param.page == 'view' %}
        <div class="row">
            <div class="col-xl-12">
                <!--begin:: Widgets/Order Statistics-->
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">{{'Personal Information'|__}}</h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body kt-portlet__body--fluid">
                        <div class="kt-widget12">
                            <div class="kt-widget12__content">
                                <div class="kt-widget12__item">
                                    <div class="kt-widget12__info">
                                        <span class="kt-widget12__desc">{{'Name'|__}}</span>
                                        <span class="kt-widget12__value">{{item.name}}</span>
                                    </div>
                                    {% if item.email %}
                                        <div class="kt-widget12__info">
                                            <span class="kt-widget12__desc">{{'Email'|__}}</span>
                                            <span class="kt-widget12__value">{{item.email}}</span>
                                        </div>
                                    {% endif %}
                                </div>
                                {% if item.mobile or item.phone or item.gender %}
                                    <div class="kt-widget12__item">
                                        {% if item.mobile %}
                                            <div class="kt-widget12__info">
                                                <span class="kt-widget12__desc">{{'Mobile'|__}}</span>
                                                <span class="kt-widget12__value">{{item.mobile}}</span>
                                            </div>
                                        {% endif %}
                                        {% if item.phone %}
                                            <div class="kt-widget12__info">
                                                <span class="kt-widget12__desc">{{'Phone'|__}}</span>
                                                <span class="kt-widget12__value">{{item.phone}}</span>
                                            </div>
                                        {% endif %}
                                        {% if item.gender %}
                                            <div class="kt-widget12__info">
                                                <span class="kt-widget12__desc">{{'Gender'|__}}</span>
                                                <span class="kt-widget12__value">{{item.gender}}</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!--end:: Widgets/Order Statistics-->
            </div>
        </div>
        {% elseif this.param.page == 'projects' %}
        <!--End::Section-->
        <div class="row">
            {% for project in projects %}
                <div class="col-lg-6">
                    <div class="kt-portlet kt-portlet--height-fluid">
                        <div class="kt-portlet__body kt-portlet__body--fit">
                            <!--begin::Widget -->
                            <div class="kt-widget kt-widget--project-1">
                                <div class="kt-widget__head">
                                    <div class="kt-widget__label">
                                        <div class="kt-widget__info">
                                            <a href="#" class="kt-widget__title">
                                                {{project.name|capitalize}}
                                            </a>
                                            <span class="kt-widget__desc">
                                                {{project.updated_at|date("d/m/Y")}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {% if item.id == user.id %}
                                <div class="kt-widget__footer">
                                    <div class="kt-widget__wrapper">
                                        <div class="kt-widget__section kt-align-right">
                                            {% if user.hasUserPermission('project', 'u') %}
                                                <a href="{{'dashboard/project-update'|page({'id': project.id})}}" class="btn btn-brand btn-sm btn-upper btn-bold">{{'Edit'|__}}</a>&nbsp;
                                            {% endif %}
                                            {% if user.hasUserPermission('project', 'd') %}
                                                <button type="button" class="btn btn-danger btn-sm btn-upper btn-bold delete_project" rel="{{project.id}}">{{'Delete'|__}}</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <!--end::Widget -->
                        </div>
                    </div>
                    <!--end:: Portlet-->
                </div>
            {% else %}
                <div class="col-lg-12">
                    <div class="kt-portlet kt-bg-warning kt-portlet--skin-solid kt-portlet--height-fluid">
                    	<div class="kt-portlet__head kt-portlet__head--noborder">
                    		<div class="kt-portlet__head-label">
                    			<h3 class="kt-portlet__head-title">
                    				{{'Announcement'|__}}
                    			</h3>
                    		</div>
                    	</div>
                    	<div class="kt-portlet__body">
                    		<!--begin::Widget 7-->
                    		<div class="kt-widget7 kt-widget7--skin-light">
                                <div class="kt-widget7__desc  kt-margin-t-20 kt-margin-b-40">
                                    {{'There is no projects created for this user'|__}}.
                                </div>
                    		</div>
                    		<!--end::Widget 7-->
                    	</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>
    <!--End:: App Content-->
</div>
<!--End::App-->


{% put scripts %}
<script>
// Class definition
var KTUserProfile = function () {
	// Base elements
	var avatar;
	var offcanvas;

	// Private functions
	var initAside = function () {
		// Mobile offcanvas for mobile mode
		offcanvas = new KTOffcanvas('kt_user_profile_aside', {
            overlay: true,
            baseClass: 'kt-app__aside',
            closeBy: 'kt_user_profile_aside_close',
            toggleBy: 'kt_subheader_mobile_toggle'
        });

        $('#kt_subheader_mobile_toggle').show();
	}

	var initUserForm = function() {
		avatar = new KTAvatar('kt_user_avatar');
	}

	return {
		// public functions
		init: function() {
			initAside();
			initUserForm();
		}
	};
}();

KTUtil.ready(function() {
	KTUserProfile.init();
    $('#kt_aside_mobile_toggler').removeClass('kt-hidden');

});
</script>
{% endput %}
